.shape0 {
    width : 95vw;
    height : 100vh;
    color : white;
}

.shape1 {
    width : 100%;
    height : 26vh;
    border-radius : 3vh;
}

.shape2 {
    height : 17vh;
    margin-left : 5vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 5vh;
    font-family: 'nanumsquare';
}

.shape3 {
    height : 9vh;
    margin-left : 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2vh;
}

.empty {
    height : 2vh;
}

a { 
    text-decoration: none;
    color : white;
}

body {
    font-family: 'maruburi';
}

.important {
    font-family: 'nanumsquare';
}

.important1 {
    font-family: 'nanumsquare';
}

@font-face {
    font-family: 'maruburi';
    src: url('fonts/MaruBuri-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'nanumsquare';
    src: url('fonts/NanumSquareNeo-dEb.ttf') format('truetype');
}

.subject {
    background-color : rgba(255, 255, 255, 0);
    border-radius : 3vw;
    width : 29vw;
    height: 15vw;
    margin-bottom : 3vw;
    margin-left : 2vw;
    display: inline-block;
    border-style : solid ;
    border-color: gray;
    font-family: 'maruburi';
    font-size: 3.5vw;
    cursor: pointer;
}

.subject1 {
    background-color : rgba(255, 255, 255, 0);
    border-radius : 3vw;
    width : 93vw;
    height: 15vw;
    margin-bottom : 3vw;
    margin-left : 2vw;
    display: inline-block;
    border-style : solid ;
    border-color: gray;
    font-family: 'maruburi';
    font-size: 3.5vw;
}

.subject:active {
    background-color:#0080FF;
    border-color: gray;
    color:white;
}
