.shape0 {
    width : 95vw;
    height : 100vh;
    color : white;
}

.shape1 {
    width : 100%;
    height : 26vh;
    border-radius : 3vh;
    font-family: 'Courier New', Courier, monospace;
}

.shape2 {
    height : 19vh;
    margin-left : 4vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 6vh;
}

.shape3 {
    height : 9vh;
    margin-left : 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2.5vh;
}

.empty {
    height : 2vh;
}

a { 
    text-decoration: none;
    color : white;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow : hidden;
}

.important {
    font-family: 'Do Hyeon', sans-serif;
}

.important1 {
    font-family: 'Do Hyeon', sans-serif;
    font-size: x-large
}


